// Import Deephaven styling so we can use it's variables
@import '@deephaven/components/scss/custom.scss';

/**
  * Styling the embed-widget app component, we want it only to be the size of the component itself. 
  * Then it can be embedded and resize dynamically.
  */
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

$tab-height: 32px;
$tab-font-size: 1rem;

$tab-button-side-padding: 9px;

$tab-link-disabled-color: $gray-600;

$nav-space: 4px; // give a gap around some buttons for focus area that are in nav bar

.app-main-top-nav-menus {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.tab-content {
  flex-grow: 1;
  height: 100%;
}

.tab-pane {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.app-main-tabs {
  &:focus {
    outline: none;
  }
}
